#slideCursos, .carousel-inner, .carousel-item img {
    height: 700px;
}

.card {
    border: none;
    text-align: center;
}

.social-link {
    color: #212121;
    margin: 0 5px;
}

.social-link:hover {
    color: #06dd2a;
}

#btn-contador {
    display: none;
}